@import 'https://fonts.googleapis.com/css?family=Rasa:300,400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Amiri';
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i';
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.index-section-2-carousel {
  font-family: "Times New Roman", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 28px;
  font-weight: 100;
  margin: 0;
  min-height: 500px;
  padding: 0;
  overflow: hidden; }

.slide-header {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 0.1em; }

p {
  margin: 0; }

carousel {
  justify-content: flex-start;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  width: 100vw; }

.carousel > .container {
  display: flex;
  flex-direction: row;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms; }

.carousel > #nav {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 1;
  transform: translateY(25px); }

.carousel > #nav a {
  color: white;
  font-size: 14px;
  opacity: 0.2;
  text-decoration: none; }

.carousel > #nav a:hover {
  opacity: 0.5; }

.carousel > #nav a.current {
  opacity: 1; }

.carousel .slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 1.4;
  text-align: center;
  width: 100vw; }

.index-section-2-slide-header {
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
  height: 63px;
  padding: 10px;
  color: white; }

.index-section-2-heading {
  margin: 0 30px;
  display: inline-block; }

.index-section-2-slide-hr {
  display: inline-block;
  width: 10%;
  transform: translateY(5px); }

.index-section-2-slide-footer {
  width: 100%;
  height: 150px;
  background: #333;
  background: #333;
  bottom: 0;
  margin-top: 300px; }

.index-section-2-slide-footer-content div {
  display: inline-block;
  vertical-align: middle;
  width: 24%; }

.index-section-2-slide-footer-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 14px; }
  .index-section-2-slide-footer-content::after {
    clear: both;
    content: "";
    display: block; }

.index-section-2-slide-footer-content a {
  color: white;
  text-decoration: none; }

.index-section-2-slide-footer-m1 {
  font-size: 30px; }

.index-section-2-slide-footer-m4 a {
  padding: 10px 20px;
  border: 1px solid white;
  text-align: center; }

.index-section-2-slide-footer-11 {
  height: 150px;
  width: 1px !important;
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 767px) {
  .carousel > #nav {
    transform: translatey(-36px);
    bottom: inherit; }

  .slide-1 {
    background-color: tomato; }

  .slide-2 {
    background-color: skyblue; }

  .index-section-2-slide-footer {
    width: 100%;
    height: auto;
    background: transparent;
    background: transparent;
    bottom: 0;
    text-align: left;
    margin: 30px auto 30px; }

  .index-section-2-slide-footer-content div {
    display: block;
    vertical-align: inherit;
    width: 210px;
    margin: 0 auto; }

  .index-section-2-slide-footer-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 14px;
    line-height: 20px; }
    .index-section-2-slide-footer-content::after {
      clear: both;
      content: "";
      display: block; }

  .index-section-2-slide-footer-m1 {
    font-size: 30px;
    padding-bottom: 10px; }

  .index-section-2-slide-footer-m4 {
    margin-top: 30px; }

  .index-section-2-slide-footer-m4 a {
    padding: 6px 20px;
    border: 1px solid white;
    text-align: left;
    margin: 10px 0;
    width: 125px;
    display: block; }

  .index-section-2-slide-footer-11 {
    display: none;
    height: 0; } }
/*Typography Variables */
/*Background Variables */
body {
  font-family: "times new roman";
  font-weight: 300;
  margin: 0;
  text-rendering: geometricPrecision; }

nav {
  width: 100%;
  height: 73px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 1px 1px 10px #333; }

.nav-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .nav-content::after {
    clear: both;
    content: "";
    display: block; }

.navbar-logo {
  height: 45px;
  margin: 12px 0; }

.navbar-menu-icon {
  display: none; }

.navbar-breadcrumbs {
  display: inline-block;
  float: right;
  margin: 0; }

.navbar-crumbs {
  display: inline-block; }

.navbar-crumbs-slash {
  padding: 10px 25px; }

.navbar-breadcrumbs:first-child li {
  padding-top: 26px; }

.navbar-crumbs:first-child a {
  color: #c3b584; }

.navbar-hr {
  display: none; }

.navbar-dataroom-button {
  border-radius: 3px;
  color: white;
  padding: 13px 30px;
  margin: 16px 0 0 25px;
  text-transform: uppercase;
  border: none;
  font-family: "times new roman";
  background: #333;
  background: #333;
  font-size: 12px;
  transition: all 0.2s ease-in-out; }

.navbar-dataroom-button:hover {
  padding: 15px 32px;
  background: #444;
  background: #444;
  transition: all 0.2s ease-in-out;
  margin: 14px 0 0 20px; }

.navbar-offcanvas-location {
  margin: 20px;
  list-style: none;
  color: #999; }

.navbar-white-area {
  height: 73px;
  width: 100%; }

/* Section 1 */
.index-section-1 {
  height: 550px;
  position: relative; }

.parallax-window {
  min-height: 400px;
  background: transparent;
  background-position: 50%; }

.index-section-1-copy {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
  height: 224px;
  transform: translateY(-50%);
  top: 50%;
  position: relative; }
  .index-section-1-copy::after {
    clear: both;
    content: "";
    display: block; }

.index-section-hr {
  border-top: 2px solid white;
  max-width: 300px;
  margin: 0 auto;
  display: block; }

.index-section-1-copy-container {
  max-width: 700px;
  display: block;
  margin: 30px auto;
  text-align: center;
  color: white; }

.index-section-1-text {
  font-size: 20px; }

/* Section 2 */
.index-section-2 {
  height: 500px; }

/* For more Carousel styles, check on carousel.sass */
/* Media Queries */
@media only screen and (max-width: 767px) {
  nav {
    padding: 0 20px 0 20px; }

  .navbar-menu-icon {
    float: right;
    margin: 27px 20px;
    display: inline-block;
    cursor: pointer; }

  .offcanvas-menu {
    height: 100vh;
    background-color: #fff;
    width: 270px;
    position: absolute;
    right: -270px;
    margin-top: 0px;
    padding: 0;
    box-shadow: -4px 1px 11px rgba(0, 0, 0, 0.1); }

  .navbar-crumbs {
    display: block;
    margin: 20px auto;
    text-align: center; }

  .navbar-hr {
    display: block;
    background-color: #e0e0e0;
    height: 1px;
    border: 1px;
    margin: auto 20px; }

  .navbar-dataroom-button {
    margin: 0; }

  .navbar-dataroom-button:hover {
    margin: 0; }

  .index-section-1-copy {
    height: 320px;
    padding: 0 20px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    padding: 0 20px 0 20px; } }

/*# sourceMappingURL=style.css.map */
