$movile: "(max-width: 767px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$lateral-padding-mobile: 0 20px 0 20px

.index-section-2-carousel
  // align-items: center
  // display: flex
  font-family: 'Times New Roman', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-size: 28px
  font-weight: 100
  margin: 0
  min-height: 500px
  padding: 0
  overflow: hidden
.slide-header
  font-size: 48px
  font-weight: 300
  margin: 0 0 .1em
p
  margin: 0
.carousel
  position: relative
carousel
  justify-content: flex-start
  overflow: hidden
  padding: 40px 0
  position: relative
  width: 100vw
.carousel > .container
  display: flex
  flex-direction: row
  height: 100%
  transform: translate3d(0, 0, 0)
  transition: transform 600ms
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  height: 100%
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  -webkit-transition: -webkit-transform 600ms
  transition: -webkit-transform 600ms
  transition: transform 600ms
  transition: transform 600ms, -webkit-transform 600ms
.carousel > #nav
  bottom: 35px
  left: 0
  position: absolute
  text-align: center
  width: 100vw
  z-index: 1
  transform: translateY(25px)
.carousel > #nav a
  color: white
  font-size: 14px
  opacity: .2
  text-decoration: none
.carousel > #nav a:hover
  opacity: .5
.carousel > #nav a.current
  opacity: 1
.carousel .slide
  -webkit-flex-shrink: 0
  -ms-flex-negative: 0
  flex-shrink: 0
  line-height: 1.4
  text-align: center
  width: 100vw
.index-section-2-slide-header
  height: 73px
  padding: 10px
  color: black
  background-color: rgba(255,255,255,0.8)
  font-style: italic
.index-section-2-heading
  margin: 0 30px
  display: inline-block
  vertical-align: middle
  padding-top: 5px
  font-style: italic
.index-section-2-slide-hr
  display: inline-block
  width: 10%
  vertical-align: middle
  transform: translateY(5px)
  border: 0
  height: 1px
  background-color: #333
.index-section-2-slide-footer
  width: 100%
  height: 150px
  +background(#333)
  bottom: 0
  margin-top: 300px
.index-section-2-slide-footer-content div
  display: inline-block
  vertical-align: middle
  width: 24%
.index-section-2-slide-footer-content
  +outer-container
  color: white
  font-size: 14px
  text-rendering: geometricPrecision !important
.index-section-2-slide-footer-content a
  color: white
  text-decoration: none
.index-section-2-slide-footer-m1
  font-size: 30px
.index-section-2-slide-footer-m2

.index-section-2-slide-footer-m3

.index-section-2-slide-footer-m4 a
  padding: 10px 20px
  border: 1px solid white
  text-align: center
.index-section-2-slide-footer-m4 a:hover
  background-color: rgba(255,255,255,0.2)
.index-section-2-slide-footer-11
  height: 150px
  width: 1px !important
  padding: 0
  margin: 0
.slide-1
  background-image: url('../img/desktop-backgrounds/section-2-melbourne.jpg')
  background-size: cover
  background-position: center
.slide-2
  background-image: url('../img/desktop-backgrounds/section-2-lisboa.jpg')
  background-size: cover
  background-position: center
.slide-3
  background-image: url('../img/desktop-backgrounds/section-2-valencia.jpg')
  background-size: cover
  background-position: center
.slide-4
  background-image: url('../img/desktop-backgrounds/section-2-pekin.jpg')
  background-size: cover
  background-position: center
.slide-5
  background-image: url('../img/desktop-backgrounds/section-2-montevideo.jpg')
  background-size: cover
  background-position: center
.slide-6
  background-image: url('../img/desktop-backgrounds/section-2-versalles.jpg')
  background-size: cover
  background-position: center
.slide-7
  background-image: url('../img/desktop-backgrounds/section-2-delta.jpg')
  background-size: cover
  background-position: center

@media only screen and #{$movile}
  .carousel > #nav
    transform: translatey(-36px)
    bottom: inherit
  .index-section-2-slide-footer
    width: 100%
    height: auto
    +background(transparent)
    bottom: 0
    text-align: left
    margin: 30px auto 30px
  .index-section-2-slide-footer-content div
    display: block
    vertical-align: inherit
    width: 210px
    margin: 0 auto
  .index-section-2-slide-footer-content
    +outer-container
    color: white
    font-size: 14px
    line-height: 20px
  .index-section-2-slide-footer-m1
    font-size: 30px
    padding-bottom: 10px
  .index-section-2-slide-footer-m4
    margin-top: 30px
  .index-section-2-slide-footer-m4 a
    padding: 6px 20px
    border: 1px solid white
    text-align: left
    margin: 10px 0
    width: 125px
    display: block
  .index-section-2-slide-footer-11
    display: none
    height: 0
  .index-section-2-carousel
    min-height: auto
