$efm-gold: #c3b584

.body-black
  background-color: rgba(0, 0, 0, 0.5)
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 99
  display: none
.member-card
  max-width: 850px
  min-width: 800px
  background-color: #333
  border-radius: 4px
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  box-shadow: -3px 4px 5px rgba(0,0,0,.1)
  z-index: 99
  font-family: "times new roman"
  font-weight: 100
  text-align: left
.member-card-img
  height: 100%
  position: absolute
  width: auto
  display: inline-block
  background-color: #eee
  border-radius: 4px 0px 0px 4px
  float: left
.member-card-text
  display: inline-block
  width: 600px
  padding: 26px 20px
  float: right
.member-card-name
  color: $efm-gold
  display: inline-block
  font-size: 28px
  font-style: italic
.member-card-text
  color: white
.member-card-text p
  margin-top: 10px
.member-card-text hr
  border: 0
  height: 1px
  background-color: $efm-gold
.member-card-button
  display: block
  padding: 0px 16px
  line-height: 21px
  margin-top: 20px
  border: 1px solid $efm-gold
  color: $efm-gold
  width: 133px
  font-size: 14px
  font-weight: 100
  letter-spacing: 0.3px
  text-decoration: none
  background-color: transparent
  font-family: "times new roman"
  cursor: pointer
