@import 'https://fonts.googleapis.com/css?family=Rasa:300,400,500,600,700'
@import 'https://fonts.googleapis.com/css?family=Amiri'
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i'

$movile: "(max-width: 767px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$lateral-padding-mobile: 0 20px 0 20px
$efm-dark-gray: #292A2C
$efm-gold: #c3b584

/*Typography Variables*/
$font-times: 'times new roman'
$font-rasa: 'Rasa', serif
$font-amiri: 'Amiri', serif
$font-merriweather: 'Merriweather', serif
/*Background Variables*/


body
  font-family: $font-times
  font-weight: 300
  margin: 0
  text-rendering: geometricPrecision !important
nav
  width: 100%
  height: 73px
  background: #fff
  position: fixed
  top: 0
  z-index: 99
  box-shadow: 1px 1px 10px #333
.nav-content
  +outer-container
.navbar-logo
  height: 45px
  margin: 12px 0
.navbar-menu-icon
  display: none
.navbar-breadcrumbs
  display: inline-block
  float: right
  margin: 0
.navbar-crumbs
  display: inline-block
.navbar-crumbs-slash
  padding: 10px 25px
.navbar-breadcrumbs:first-child li
  padding-top: 26px
.navbar-crumbs:first-child a
  color: $efm-gold
.navbar-hr
  display: none
.navbar-dataroom-button
  border-radius: 3px
  color: white
  padding: 13px 30px
  margin: 16px 0 0 25px
  text-transform: uppercase
  border: none
  font-family: $font-times
  +background($efm-dark-gray)
  font-size: 12px
  transition: all .2s ease-in-out
.navbar-dataroom-button:hover
  padding: 15px 32px
  +background(#444)
  transition: all .2s ease-in-out
  margin: 14px 0 0 20px
.navbar-offcanvas-location
  margin: 20px
  list-style: none
  color: #999
.navbar-white-area
  height: 73px
  width: 100%

/* Section 1 */
.index-section-1
  // background-image: url("../img/desktop-backgrounds/section-1-back-desktop.png")
  // background-size: cover
  // background-position: center
  height: 550px
  position: relative
.parallax-window
  min-height: 400px
  background: transparent
  background-position: 50%
.index-section-1-copy
  +outer-container
  display: block
  margin: 0 auto
  height: 224px
  transform: translateY(-50%)
  top: 50%
  position: relative
.index-section-hr
  border-top: 2px solid white
  max-width: 300px
  margin: 0 auto
  display: block
.index-section-1-copy-container
  max-width: 700px
  display: block
  margin: 30px auto
  text-align: center
  color: white
.index-section-1-text
  font-size: 18px

/* Section 2 */
.index-section-2
  height: 500px
/* Section 3 */
.index-section-3
  height: 500px
  //background-image: url('../img/desktop-backgrounds/section-3-back.jpg')
  background-size: cover
  background-position: center
.index-section-3-content
  height: 500px
  color: black
  text-align: center
  display: block
  position: relative
.index-section-3-header
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1)
  height: 73px
  padding: 10px
  color: $efm-gold
  line-height: 1.4
  background-color: rgba(0,0,0,0.5)
.index-section-3-heading
  margin: 0 30px
  display: inline-block
  font-size: 28px
  padding-top: 5px
  font-style: italic
.index-section-3-slide-hr
  display: inline-block
  width: 10%
  transform: translateY(2px)
  border: 0
  height: 1px
  background-color: $efm-gold
.index-section-3-copy-container
  max-width: 1200px
  display: block
  margin: 0 auto
  height: 114px
  transform: translateY(-50%)
  top: 50%
  position: relative
.index-section-3-copy-content
  max-width: 700px
  display: block
  margin: 0 auto
  text-align: center
  color: white
  position: relative
  top: 50%
  transform: translateY(-110px)
  font-size: 18px
.index-section-3-link
  padding: 6px 20px
  border: 1px solid white
  width: 125px
  display: block
  text-align: center
  color: white
  text-decoration: none
  margin: 10px auto 0
  /* Section 4 */
.index-section-4
  height: 573px
  color: black
  text-align: center
  display: block
  position: relative
  box-shadow: inset 0px -98px 0px #6d6e72
.index-section-4-header
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.03 )
  height: 73px
  padding: 10px
  color: $efm-gold
  line-height: 1.4
  background-color: white
.index-section-4-heading
  margin: 0 30px
  display: inline-block
  font-size: 28px
  padding-top: 5px
  font-style: italic
.index-section-4-slide-hr
  display: inline-block
  width: 10%
  transform: translateY(2px)
  border: 0
  height: 1px
  background-color: $efm-gold
.index-section-4-content
  background-image: url('../img/desktop-backgrounds/section-4-back-desktop.png')
  background-position: bottom
  background-size: contain
  background-repeat: no-repeat
  height: 500px
  position: relative
  +outer-container
  display: block
.index-section-4-bottom
  height: 97px
  width: 100%
  background-color: hsla(228,2%,44%,0.7)
  position: absolute
  bottom: 0
.index-section-4-directors-module
  width: 19.1%
  display: inline-block
  text-align: center
  padding-top: 16px
  color: white
  letter-spacing: 1px
  font-size: 12px
.index-section-4-directors-name
  display: block
  font-weight: 600
  padding-bottom: 3px
.index-section-4-directors-position
  display: block
  padding-bottom: 10px
.index-section-4-directors-button
  display: block
  padding: 0px 16px
  line-height: 21px
  margin: 0 auto
  border: 1px solid white
  color: white
  width: 86px
  text-decoration: none

/* Section 5 */
.index-section-5
  min-height: 500px
  color: black
  text-align: center
  display: block
  position: relative
  background-color: $efm-dark-gray
.index-section-5-header
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1 )
  height: 73px
  padding: 10px
  color: $efm-gold
  line-height: 1.4
  background-color: $efm-dark-gray
.index-section-5-heading
  margin: 0 30px
  display: inline-block
  font-size: 28px
  padding-top: 5px
  font-style: italic
.index-section-5-slide-hr
  display: inline-block
  width: 10%
  transform: translateY(2px)
  border: 0
  height: 1px
  background-color: $efm-gold

/* Section 6 */
.index-section-6
  min-height: 500px
  color: white
  text-align: center
  display: block
  position: relative
  background-color: #7D7E81
.index-section-6-header
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1)
  height: 73px
  padding: 10px
  color: white
  line-height: 1.4
  background-color: #7D7E81
.index-section-6-header:nth-child(2)
  box-shadow: none
.index-section-6-heading
  margin: 0 30px
  display: inline-block
  font-size: 28px
  padding-top: 5px
  font-style: italic
.index-section-6-slide-hr
  display: inline-block
  width: 10%
  transform: translateY(2px)
  border: 0
  height: 1px
  background-color: white
.index-section-6-content
  text-align: center
  padding: 40px
.index-section-6-images
  margin: 0 60px
/* Map */
.index-section-7-1
  background-color: #292A2C
  height: 470px
.index-section-7-1-a
  width: 49%
  display: inline-block
.index-section-7-1-b
  width: 50%
  right: 0
  display: inline-block
  position: absolute
.index-section-7-header
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1)
  height: 73px
  padding: 10px
  color: $efm-gold
  line-height: 1.4
  text-align: center
.index-section-7-header:nth-child(2)
  box-shadow: none
.index-section-7-heading
  margin: 0 30px
  display: inline-block
  font-size: 28px
  padding-top: 5px
  font-style: italic
.index-section-7-slide-hr
  display: inline-block
  width: 10%
  transform: translateY(2px)
  border: 0
  height: 1px
  background-color: $efm-gold
/* Form */
form
  width: 80%
  display:block
  margin: 30px auto 0
  position: relative
.my-placeholder
  display: block
  color: $efm-gold
.required
  border-bottom: 1px solid $efm-gold
  border-top: 0
  border-right: 0
  border-left: 0
  background-color: transparent
  box-shadow: none
  width: 100%
  height: 50px
  margin-bottom: 10px
  color: white
  font-weight: 100
  font-size: 15px
  border-radius: 0
.form-button
  display: block
  padding: 0px 16px
  line-height: 21px
  border: 1px solid $efm-gold
  color: $efm-gold
  width: 86px
  text-decoration: none
  background-color: transparent
  font-family: "times new roman"
  font-size: 13px
#map
  width: 100%
  height: 450px
  background-color: grey
/* Section 7 */
.index-section-7-content
  max-width: 1090px
  margin: 0 auto
  position: relative
.index-section-7
  background-color: $efm-gold
.index-section-7-a
  display: inline-block
  max-width: 500px
  margin: 30px
.index-section-7-b
  display: inline-block
  max-width: 575px
  position: absolute
  top: 0
  margin: 30px
.index-section-7-text
  line-height: 24px
  display: block

/* Section 8 */
.index-section-8
  text-align: center
  background-color: $efm-dark-gray
  color: white
  padding: 30px

/* For more Carousel styles, check on carousel.sass */

/* Media Queries */
@media only screen and #{$movile}
  nav
    padding: $lateral-padding-mobile
  .navbar-logo
    height: 38px
    margin: 16px 0
  .navbar-menu-icon
    float: right
    margin: 27px 20px
    display: inline-block
    cursor: pointer
  .offcanvas-menu
    height: 100vh
    background-color: #fff
    width: 270px
    display:block
    position: absolute
    right: -270px
    margin-top: 0px
    padding: 0
    box-shadow: -4px 1px 11px rgba(0,0,0,.1)
  .navbar-crumbs
    display: block
    margin: 20px auto
    text-align: center
  .navbar-hr
    display: block
    background-color: #e0e0e0
    height: 1px
    border: 1px
    margin: auto 20px
  .navbar-dataroom-button
    margin: 0
  .navbar-dataroom-button:hover
    margin: 0
  // .index-section-1
  //   background-image: url("../img/mobile-backgrounds/section-1-back-mobile.jpg")
  //   padding: 0 20px
  .index-section-1-copy
    height: 320px
    padding: 0 20px
  //Section 3
  .index-section-3-copy
    padding: 0 20px
  .index-section-3-copy-content
    position: absolute
    top: 50%
    transform: translateY(-50%)
  //Section 4
  .index-section-4-slide-hr
    display: none
  .index-section-4-heading
    margin: 0 20px
    font-size: 26px
    padding-top: 8px
  //Section 6
  .index-section-6
    padding-bottom: 1px
  .index-section-6-images
    margin: 40px auto
    display: block
  //Section 7-1
  .index-section-7-1
    height: auto
  .index-section-7-1-a
    display: block
    width: 100%
    padding-bottom: 30px
  .index-section-7-1-b
    display: block
    width: 100%
    position: relative
  .iframe-map
    height: 370px
  //Section 7
  .index-section-7
    padding: 10px 0
  .index-section-7-content
    margin: 0 auto
    display: block
  .index-section-7-a
    display: block
    margin: 30px
  .index-section-7-b
    display: block
    position: relative
    margin: 30px
  .index-section-7-text
    line-height: 24px
    display: block

@media only screen and #{$tablet}
  nav
    padding: $lateral-padding-mobile
