@import 'https://fonts.googleapis.com/css?family=Rasa:300,400,500,600,700'
@import 'https://fonts.googleapis.com/css?family=Amiri'
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i'

$movile: "(max-width: 767px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$lateral-padding-mobile: 0 20px 0 20px
$efm-dark-gray: #292A2C
$efm-gold: #c3b584

/*Typography Variables*/
$font-times: 'times new roman'
$font-rasa: 'Rasa', serif
$font-amiri: 'Amiri', serif
$font-merriweather: 'Merriweather', serif
/*Background Variables*/

.operaciones-section-1
  +outer-container
  background: red