@import 'https://fonts.googleapis.com/css?family=Rasa:300,400,500,600,700'
@import 'https://fonts.googleapis.com/css?family=Amiri'
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i'

$movile: "(max-width: 767px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$lateral-padding-mobile: 0 20px 0 20px
$efm-dark-gray: #292A2C
$efm-gold: #c3b584

/*Typography Variables*/
$font-times: 'times new roman'
$font-rasa: 'Rasa', serif
$font-amiri: 'Amiri', serif
$font-merriweather: 'Merriweather', serif
/*Background Variables*/

.operaciones-section-1
  +outer-container
  margin-top: 73px
.operaciones-section-1-text-box
  @include span-columns(8)
  margin: 30px 0
  display: inline-block
  border-right: 1px solid #aaa
  padding-right: 40px
.operaciones-section-1-heading
  font-weight: 800
  margin-bottom: 1em
  display: block
.operaciones-section-1-text
  margin-bottom: 1em
  line-height: 1.3em
.operaciones-section-1-form
  @include span-columns(4)
  display: inline-block
  position: relative
.operaciones-section-1-form form
  position: relative
.operaciones-checkbox
  margin-bottom: 25px
.operaciones-section-1-form .required
  color: black !important
.operaciones-form-button
  background-color: transparent
  border: 1px solid #c3b584
  color: #c3b584
  display: block
  font-family: "times new roman"
  font-size: 13px
  line-height: 21px
  padding: 0 16px
  text-decoration: none
  width: 128px
.operaciones-form-button:hover
  background: $efm-gold
  color: white
  transition: all .2s ease-in-out
.ficha-tecnica-header
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.03 )
  height: 73px
  padding: 10px
  color: $efm-gold
  line-height: 1.4
  background-color: white
  text-align: center
.ficha-tecnica-heading
  margin: 0 30px
  display: inline-block
  font-size: 28px
  padding-top: 5px
  font-style: italic
.ficha-tecnica-slide-hr
  display: inline-block
  width: 10%
  transform: translateY(2px)
  border: 0
  height: 1px
  background-color: $efm-gold
.ficha-tecnica-content
  +outer-container
.ficha-tecnica-section-1
  margin-top: 73px
.operaciones-side-b-1
  text-align: center
  padding: 20px
.operaciones-side-b-1 img
  height: 60px
  width: auto
  margin-top: 30px
.operaciones-side-b-button-descarga
  background-color: transparent
  border: 1px solid #c3b584
  color: #c3b584
  display: block
  font-family: "times new roman"
  font-size: 13px
  line-height: 21px
  padding: 0 16px
  text-decoration: none
  margin: 10px auto
.operaciones-side-b-button-descarga:hover
  background: $efm-gold
  color: white
  transition: all .2s ease-in-out
.operaciones-side-b-1 hr
  height: 1px
  border: none
  color: #aaa
  background: #aaa
  margin: 25px auto
.operaciones-side-b-text-1
  margin: 25px 0
.operaciones-section-1-form a
  text-decoration: none

@media only screen and #{$movile}
  .operaciones-section-1
    padding: 20px
  .operaciones-section-1-text-box
    @include span-columns(12)
    display: block
    border-bottom: 1px solid #aaa
    border-right: none
    padding-bottom: 40px
  .operaciones-section-1-form
    @include span-columns(12)
    display: block
    padding-bottom: 40px
  .operaciones-section-1-form form
    width: auto